svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
}
#upperPowerSupply, #lowerPowerSupply, #body
{
    border: 1px solid rgba(177, 173, 173, 0.3);
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
#upperPowerSupply, #lowerPowerSupply
{
    height: 9%;
    width: 98%;
    padding: 1%;
    /* border: 1px solid red; */
}
#body
{
    /* border: 1px solid black; */
    height: 52%;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#upperHalf, #lowerHalf
{
    /* border: 1px solid black;  */
    width: 98%;
    height: 34%;
    padding: 1%;
    padding-top: 0%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.holes
{
    border: 1px solid ; 
    border-radius: 50%; 
    width: 3.6px; 
    height: 3.6px; 
    margin-left: 7px; 
    margin-top: 7px;
}

#chipBox
{
    /* border: 1px solid black; */
    width: 100%;
    height: 18%;
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

.chip
{
    border: 1px solid rgba(82, 82, 82, 0.9);
    height: 100%;
    width: 9.7%;
    margin-left: 5%;
    margin-right: 4.5%;
    /* background-color: black; */
}

