body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
.menuBar {
  width: 100%;
  height: 5%;
  border: 1px solid black;
  background-color: black;
}
.layout {
  width: 100%;
  height: 95%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.toolkit {
  height: 100%;
  width: 19%;
  background-color: black;
  /* border-right: 2px solid rgb(133, 132, 132); */
}
.workspace {
  height: 100%;
  width: 64%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.breadboard {
  min-height: 54%;
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  background-color: rgba(224, 236, 178, 0.3);
  position: relative;
}
.tabContainer {
  width: 100%;
  height: 46%;
  background-color: rgb(20, 20, 20);
}
.debugging {
  height: 100%;
  width: 20%;
  background-color: black;
}
.powerSupply {
  width: 100%;
  height: 44.5%;
  position: relative;
  border-bottom: 1px solid rgb(43, 42, 42);
  background-image: linear-gradient(147deg, #2e2c2c 0%, #000000 74%);
}


#powerSupply
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
