.chipContainer
{
    width: 7.5%;
    height: 5.8%;
    border: 1px solid black;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.gate
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: black;
    border-radius: 3px;
}