.timingDiagram {
  width: 100%;
  height: 90%;

  display: none;
  position: relative;

  background-image: linear-gradient(to left, #000000, #0a2f03, #070707);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

.timingDiagram p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #0acb0e;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  font-family: "IBM Plex Sans", sans-serif;
}
